:host {
  display: block;
}

.alarm {
  color : white;
  width: 400px;
  padding: 4px;
}

paper-dropdown::shadow #ripple,
paper-dropdown::shadow #background {
    background-color: #4CAF50;
}

note-list {
  overflow: auto;
  margin-top: 4em;
}

core-toolbar {
  background: #4CAF50;
  color: white;
  font-family: sans-serif;
  height: 3em;
}

.open-below {
  top: 38px;
}