:host {
  display: block;
}

.add {
	position: absolute;
	bottom : 12px;
	right: 12px;
}

.row {
   width : 100%;
}

core-list {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

paper-action-dialog {
  width: 90%;
}

paper-input {
	width : 100%;
}

.tag {
  height : 40px;
  width : 40px;
  margin: 10px;
}