:host {
  display: block;
}

.add {
	position: absolute;
	bottom : 12px;
	right: 12px;
}

.row {
   width : 100%;
}

core-list {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

paper-action-dialog {
  width: 90%;
}

@media screen and (min-width: 1024px) {
  paper-action-dialog {
    width: 90%;
    min-width: 430px;
    max-width: 600px;
  }
}

paper-input {
	width : 100%;
}

.dialogInputDescription {
  height: 100%;
}

.tag {
  height : 30px;
  width : 30px;
  margin: 10px;
}

.tag[selected="true"] {
  color: #2196f3;
}