:host {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 6px;
  margin-left: 6px;
  margin-bottom: 0px;
}

h2 {
  font-size: 1em;
  margin: 6px;
  margin-left: 6px;
  margin-top: 0px;
}

h3 {
 font-size: 0.9em;
 color: #616161;
 margin: 6px; 
 margin-top: 0px;
 margin-left: 6px;
 margin-bottom: 2px;
}

#textcontent {
  margin-left: 16px;
}

.tag {
  height : 40px;
  width : 40px;
}

#tagsHolder {
  width : 50px;
  margin: 10px;
}

.card {
  display: inline-block;
  background: white;
  box-sizing: border-box;
  margin: 1%;
  padding: 16px;
  width: 98%;
  border-radius: 2px;
}

.card {
  display: inline-block;
  background: white;
  box-sizing: border-box;
  margin: 1%;
  padding: 16px;
  width: 98%;
  border-radius: 2px;
}
